<div class="panel-heading">
    <div class="main-title" ng-controller="TitleController">
        <h4>计划编写</h4>

        <div class="btn-group pull-right" style="margin-top: -42px;">
            <button class="btn btn-info btn-lg" data-toggle="dropdown" ng-click="back('list')">
                返回
            </button>
        </div>
    </div>
</div>
<div class="panel-body main-content">
    <form role="form" class="w5c-form" novalidate w5c-form-validate name="addPlanForm"
          ng-controller="AddPlanController">
        <div class="form-group">
            <label class="control-label" for="type">
                计划类型
            </label>
            <select name="type" id="type" class="form-control input-lg" ng-model="plan.apiType">
                <option value="year">本年度计划</option>
                <option value="yearnext">下年度计划</option>
                <option value="month">本月计划</option>
                <option value="monthnext">下月计划</option>
                <option value="weeks">本周计划</option>
                <option value="weeksnext">本周计划</option>
            </select>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label" for="title">
                        计划标题
                    </label>
                    <textarea class="form-control" id="title" name="title" rows="3"
                              ng-model="plan.apiTitle" required></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" for="quality">
                        完成标准
                    </label>

                    <div id="quality">
                        <input class="form-control input-lg" type="text" placeholder="时间" style="margin-bottom: 5px;"
                               name="apiTime" ng-model="plan.apiTime"/>
                        <input class="form-control input-lg" type="text" placeholder="数量" style="margin-bottom: 5px;"
                               name="apiQuantity" ng-model="plan.apiQuantity"/>
                        <input class="form-control input-lg" type="text" placeholder="质量" style="margin-bottom: 5px;"
                               name="apiQuality" ng-model="plan.apiQuality"/>
                        <input class="form-control input-lg" type="text" placeholder="评价" style="margin-bottom: 5px;"
                               name="apiEvaluation" ng-model="plan.apiEvaluation"/>
                        <input class="form-control input-lg" type="text" placeholder="成本" style="margin-bottom: 5px;"
                               name="apiCost" ng-model="plan.apiCost"/>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-success btn-lg btn-block"
                ng-disabled="hasSubmit || addPlanForm.$pristine || addPlanForm.$invalid"
                w5c-form-submit="savePlan()">提 交
        </button>
    </form>
</div>