<div class="panel-heading">
    <div class="main-title" ng-controller="TitleController">
        <h4>计划执行</h4>
    </div>
</div>
<div class="panel-body main-content" ng-controller="PlanExecuteController">
    <form role="form">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    计划类型
                </span>

                <select class="form-control input-lg" name="apiType" id="apiType" ng-model="apiType">
                    <option value="year">本年度计划</option>
                    <option value="yearnext">下年度计划</option>
                    <option value="month">本月计划</option>
                    <option value="monthnext">下月计划</option>
                    <option value="weeks">本周计划</option>
                    <option value="weeksnext">下周计划</option>
                </select>
            </div>
        </div>
    </form>
    <hr/>
    <div class="plan">
        <div class="col-xs-6 plan-content-full">
            测试计划1
        </div>
        <div class="col-xs-6 plan-opt">
            <div class="btn-group pull-right">
                <button class="btn btn-success btn-lg" ng-click="execute()">
                    执行
                </button>
            </div>
        </div>
    </div>

    <div class="plan">
        <div class="col-xs-6 plan-content-full">
            测试计划2
        </div>
        <div class="col-xs-6 plan-opt">
            <div class="btn-group pull-right">
                <button class="btn btn-success btn-lg" ng-click="execute()">
                    执行
                </button>
            </div>
        </div>
    </div>

</div>
