@charset "UTF-8";

html {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffffff;
    padding: 10px;
}

.login-panel {
    padding: 20px;
}

.login-title {
    margin-top: 10%;
}

.login-body {
    margin-top: 10%;
}

.main-body {
    padding: 0 0 60px;
    margin: 0;
    display: block;
    height: 100%;
}

.menubar {
    height: 60px;
    width: 100%;
    background-color: #efefef;
    position: absolute;
    left: 0;
    bottom: 0;
}

.menu {
    border: 1px solid #DAE0E2;
    border-right: none;
}

.menu-item {
    display: block;
    border-right: 1px solid #DAE0E2;
    width: 33%;
    height: 60px;
    float: left;
    background-color: #DBF6FD;
}

.menu-item {
    font-size: 20px;
    color: #777777;
    text-align: center;
    line-height: 60px;
}

.menu .active {
    background-color: #F9FDFE;
    color: #98CA77;
    text-decoration: none;
}

.main-panel {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-title {
    font-size: 16px;
    font-weight: bold;
}

.main-content {
    overflow-y: auto;
    height: 85%;
    padding: 10px;
}

.plan {
    width: 100%;
    height: 60px;
    border: 1px solid #efefef;
    margin-bottom: 5px;
}

.plan-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 5px;
}

.plan-content .status {
    font-size: 14px;
    font-weight: normal;
    color: #777;
    display: block;
    clear: both;
}

.plan-opt {
    padding: 6px 0;
}

.plan-opt .btn-group {
    border-left: 1px solid #efefef;
    padding: 0 5px;
}

.delete-tip {
    top: 50%;
    height: 250px;
    margin-top: -125px;
}

/*校验提示信息 begin*/
.w5c-form input:focus:focus,
.w5c-form textarea:focus:focus,
.w5c-form select:focus:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    color: #000000;
}

.w5c-form input.error,
.w5c-form textarea.error,
.w5c-form select.error {
    border-color: #b94a48;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

.w5c-form .dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}

.w5c-form .alert {
    margin-bottom: 0;
}

.w5c-form .w5c-error {
    color: #b94a48;
    display: block;
    margin-top: 5px;
}

/*校验提示信息 end*/